#arena {
  width: 800px;
  height: 500px;
}

#arena td {
  width: 90px;
  height: 90px;
  background-color: #107e2d;
  text-align: center;
}

td > div, #army-holder > article {
  font-family: fantasyIcon;
  font-size: 50px;
  line-height: 50px;
}

td > div.blue {
  color: #06064c;
}

button {
  outline: none;
  border: none;
}

button:hover {
  background-color: darkgray;
}

header > nav > button {
  padding: 5px 15px;
  margin: 3px;
  font-size: 20px;
  font-family: fantasy;
}